<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的环游世界旅行照</title>
    <script src="./js/flexible.js"></script>
    <script src="./js/underscore-min.js"></script>
    <script src="./js/zepto.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/data.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/weui.css">
</head>
<body>
    <div class="wrap index" id="index-box" v-cloak>
        <div class="musicBtn" :class="[music ? '' : 'musicClose']" @click="operMusic"> <audio style="display:none" src="./images/5018.mp3" id="music_id"  controls="controls" loop></audio></div>
        <div class="pageSlideBox hide">
            <div id="slide01" class="tab">
                <ul class="content">
                    <li>
                        <div class="page1" >
                            <img :src="radomUrl" alt="">
                            <div class="cont hide">
                                <img class="logo fadeInUp" src="./images/logo.png" alt="">
                                <img class="title fadeInUp" src="./images/title.png" alt="">
                                <img class="txt fadeInUp" src="./images/txt.png" alt="">
                                <img class="car drive" :class="[isPhonex ? 'phoneX':'']" src="./images/car.gif" alt="">
                                <img @click="goNext" :class="[isPhonex ? 'phoneX':'']" class="start pulse" src="./images/start.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="page2" >
                            <div class="cont hide">
                                <h3 class="txt">选择你喜欢的旅游目的地</h3>
                                <div class="map"></div>
                                <div @click="selectArea(0)" class="zhou1 zhou pulse" :class="[earthIndex == 0 ? 'active':''] "><p>欧美<br/>地区</p></div>
                                <div @click="selectArea(1)"  class="zhou2 zhou pulse" :class="[earthIndex == 1 ? 'active':''] "><p>非洲<br/>地区</p></div>
                                <div @click="selectArea(2)"  class="zhou3 zhou pulse" :class="[earthIndex == 2 ? 'active':''] "><p>亚洲<br/>地区</p></div>
                                <div @click="selectArea(3)" class="zhou4 zhou pulse" :class="[earthIndex == 3 ? 'active':''] "><p>大洋洲<br/>地区</p></div>
                                <img class="sense bounceIn" src="./images/page2_txt.png" alt="">
                                <img class="logo" src="./images/logo.png" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page3 hide">
            <h3>选择你喜欢的旅游目的地</h3>
            <h2><span><b></b></span><span>{{earthIndex == 0 ? '欧美地区' : earthIndex == 1 ? '非洲地区' : earthIndex == 2 ? '亚洲地区' : '大洋洲地区'}}</span><span><b></b></span></h2>
            <div class="list">
                <div class="item" v-for="(item,index)  in placeList" :key="index" @click="selectPlace(index,item)" :class="[selectIndex == index ? 'active' : '']"> 
                    <div class="imgBox">
                        <img :src="item.url" alt="">
                    </div>
                    <div class="title">
                        <p>{{item.name}}</p>
                    </div>
                </div>
            </div>
            <div class="btnBox">
                <img class="sure" @click="sureSelectPlace" src="./images/sure_btn.png" alt="">
                <img class="logo" src="./images/logo.png" alt="">
            </div>
        </div>
        <div class="page4 hide">
            <h3>选择你的旅行心情</h3>
            <div class="copywriting">
                <ul class="sign_page_scrollBody" :class="[isPhonex ? 'phoneX':'']">
                    <li v-for="(item,index) in sloganList" :key="index" @click="selectSloganHandle(item)" :class="[selectSlogan.txt == item.txt ? 'active':'']">
                        <p>{{item.txt}}</p>
                    </li>
                </ul>
            </div> 
            <img class="sure" src="./images/sure_btn.png" alt=""  @click="sureSelectSlogan">
            <img class="again" @click="againSelectPlace" src="./images/again_txt.png" alt="">
        </div>
        <div class="page5 hide" :class="[isPhonex ? 'phoneX':'']">
            <h3>我的环游世界旅行照</h3>
            <div class="box">
                <img class="car" src="./images/car.gif" alt="">
                <img class="earth rotate" src="./images/earth.png" alt="">
                <p>照片生成中...</p>
            </div>
            <div class="infoBox">
                <p>5月起，广东居民可通过“粤省事”小程序在线预约办理/再签注出入境证件</p>
                <p>详细登录粤省事小程序或关注粤省事公众号进行了解</p>
            </div>
            <img class="logo" src="./images/logo.png" alt="">
        </div>

        <div class="page6" :class="[isPhonex ? 'phoneX':'']" > <!--style="opacity: 0;z-index: 0"-->
            <div class="blank"></div>
            <h3>我的环游世界旅行照</h3>
            <div class="box">
                <div class="canvas" >
                    <canvas id="canvas" :width="this.W*2" :height="this.H*2" :style="'width:'+this.W+'px;height:'+this.H+'px'">
                        <!--width="320" height="180" style="width:160px;height:90px;"-->
                        当前浏览器不支持canvas
                    </canvas>
                    <span class="head"></span>
                </div>
                    
            </div>
            <img class="copy" src="./images/copy_txt.png" alt="">
            <img class="again" @click="againMake" src="./images/again.png" alt="">
            <div class="canvas2">
                <canvas id="canvas2" :width="this.W2" :height="this.H2"></canvas>
            </div>
        </div>
<!-- 
        <div class="cover " v-show="imgStatus" @click="imgStatus=false;imgBigUrl=''">
            <div class="bigImgCover">
                <div class="bigImgBox">
                    <img :src="imgBigUrl" alt="">
                </div>
            </div>
        </div> -->

        <!-- 加载中 -->
        <div id="loadingToast" v-show="loading.status">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content" v-html="loading.txt"></p>
            </div>
        </div>
        <!--只有一个按钮提示框-->
        <!--BEGIN dialog2-->
        <div class="js_dialog" id="iosDialog2" v-show="dialog.status">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">{{dialog.txt}}</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" @click="dialog.status = false">知道了</a>
                </div>
            </div>
        </div>
         <!--两个个按钮提示框-->
        <div class="js_dialog" id="iosDialog1" v-show="dialog2.status">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title">提示</strong></div>
                <div class="weui-dialog__bd">{{dialog2.txt}}</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default" @click="dialog2.status = false">取消</a>
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" >确定</a>
                </div>
            </div>
        </div>
        <!-- 提示框，1000消失 -->
        <div class="tipBox" v-show="alert.status">
            <div class="tibBox_inner">
                <p v-html="alert.txt"></p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var basep = "images/", //图片目录
            preLoadSource = [ //背景资源
                basep + "loading.gif",
                basep + "1.jpg",
                basep + "2.jpg",
                basep + "3.jpg",
                basep + "4.jpg",
                basep + "5.jpg",
                basep + "again.png",
                basep + "again_txt.png",
                basep + "area.png",
                basep + "area_on.png",
                basep + "car.png",
                basep + "copy_txt.png",
                basep + "earth.png",
                basep + "ewm.png",
                basep + "logo.png",
                basep + "map.png",
                basep + "page2.jpg",
                basep + "page2_txt.png",
                basep + "page3.jpg",
                basep + "page4.jpg",
                basep + "page5.jpg",
                basep + "page6.jpg",
                basep + "start.png",
                basep + "sure_btn.png",
                basep + "title.png",
                basep + "txt.png",
                basep + "underscore.jpg",
                basep + "wx.png",
            ];
    </script>
    <script src="js/loading.js"></script>
    <script type="text/javascript" src="js/jweixin-1.0.0.js"></script>
    <script>
        //加载资源数组必须在loading之前进行配置
        var isPhonex = false;
        var u = navigator.userAgent;
        var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        if (isIOS) {
            if (screen.height > 700){
                //是iphoneX
                isPhonex = true;
            }
        }
        var radomData = ['./images/1.jpg','./images/2.jpg','./images/3.jpg','./images/4.jpg','./images/5.jpg',];
        $(function () {
            new Vue({
                el: "#index-box",
                data: { 
                    music:true,
                    tab1:null,
                    radomUrl:_.sample(radomData),
                    placeList:[],
                    earthIndex:null,
                    selectPlaceData:null,   //选中的地区
                    selectIndex:null,       //选中的下标
                    sloganList:slogan,
                    selectSlogan:'',        //选中的标语
                    W:0,
                    H:0,
                    W2:0,
                    H2:0,
                    Font:0,
                    ctx:null,
                    ctx2:null,
                    isPhonex:isPhonex,
                    loading:{        //加载中弹框
                        status:false,
                        txt:'加载中...'
                    },
                    dialog:{    //带按钮提示框
                        status:false,
                        txt:'这里是提示内容'
                    },
                    dialog2:{  //带双按钮提示框
                        status:false,
                        txt:'这里是提示的内容'
                    },
                    alert:{     //提示自动消失框
                        status:false,
                        txt:'这里是提示内容'
                    },
                    linkHref:{
                        getGifts:'http://we7.xhwxpos.com/gold/index.php?m=Wap&c=Index&a=get_picList',                              //获取礼品列表
                        delGifts:'delGifts',                              //删除礼品
                    },
                },
                methods: {
                    operMusic:function(){
                        this.music = this.music == true ? false : true;
                        var music_id = document.getElementById('music_id');
                        if(this.music){
                            music_id.play();
                        }else{
                            music_id.pause();
                        }
                    },
                    //开始旅行
                    goNext:function(){
                        this.tab1.playTo(1)
                    },
                    //选择区域
                    selectArea:function(index){
                        this.placeList = earthData[index].list;
                        this.earthIndex = index;
                        $('.pageSlideBox').fadeOut();
                        $('.page3').fadeIn();
                    }, 
                    //选择地方
                    selectPlace:function(index,item){
                        this.selectIndex = index;
                        this.selectPlaceData = item;
                    },  
                    //确认选中地方
                    sureSelectPlace:function(){
                        if(!this.selectPlaceData){
                            this.alertHandle('请选择要一个地点');
                            return;
                        }
                        $('.page3').fadeOut();
                        $('.page4').fadeIn();
                    }, 
                    //选中标语
                    selectSloganHandle:function(item){
                        this.selectSlogan = item;
                    },
                    //确认选中标语
                    sureSelectSlogan:function(){
                        if(!this.selectSlogan){
                            this.alertHandle('请选择一个标语');
                            return;
                        }
                        var This = this;
                        $('.page4').fadeOut();
                        $('.page5').fadeIn();
                        setTimeout(function(){
                            $('.page5').hide();
                            $('.page6').show();
                            This.drawCanvas();
                        },3500)
                    },
                    // 重新选地点
                    againSelectPlace:function(){
                        $('.page4').fadeOut();
                        // $('.page3').fadeIn();
                        $('.pageSlideBox').show();
                        this.tab1.playTo(1);
                        // 数据初始化
                        this.placeList = [];
                        this.earthIndex = null;
                        this.selectIndex = null;
                        this.selectPlaceData = null;
                        this.selectSlogan = '';
                    },
                    // 重新制作
                    againMake:function(){
                        this.ctx.clearRect(0,0,this.W*2,this.H*2);
                        $('.canvas img').remove();
                        $('.page6').css({
                            opacity:0
                        })
                        $('.pageSlideBox').show();
                        this.tab1.playTo(1);

                        this.placeList = [];
                        this.earthIndex = null;
                        this.selectIndex = null;
                        this.selectPlaceData = null;
                        this.selectSlogan = '';
                    },
                    //图片合成
                    drawCanvas:function() {
                        var This = this;
                        var cvs = document.getElementById("canvas"),cvs2=document.getElementById('canvas2');
                        var ctx = cvs.getContext('2d'),ctx2 = cvs2.getContext('2d');
                        This.ctx = ctx;
                        This.ctx2 = ctx2;
                        
                        ctx.clearRect(0,0,This.W*2,This.H*2);
                        ctx2.clearRect(0,0,This.W2,This.H2);
                        //创建image对象
                        var progress = 0;       //总的加载进度
                        // 背景
                        var imgObj = new Image();
                        // var imgUrl = This.selectPlaceData.url; 
                        var imgUrl = './images/zhou1/5.jpg';
                        // console.log(This.selectPlaceData.url)
                        imgObj.src = imgUrl;
                        imgObj.onload = function(){
                            progress += 1;
                            console.log(progress)
                            if(progress == 4){
                                startDraw(ctx)
                                startDraw2(ctx2)
                            }
                        }
                        
                        // 标语
                        var imgSlogan = new Image();
                        // var imgSloganUrl = This.selectSlogan.url;
                        var imgSloganUrl = './images/slogan/10.png';
                        imgSlogan.src = imgSloganUrl;
                        imgSlogan.onload = function(){
                            progress += 1;
                            console.log(progress)
                            if(progress == 4){
                                startDraw(ctx)
                                startDraw2(ctx2)
                            }
                        }

                        // 二维码
                        var imgEwm = new Image();
                        var imgEwmUrl = './images/ewm.png';
                        imgEwm.src = imgEwmUrl;
                        imgEwm.onload = function(){
                            progress += 1;
                            console.log(progress)
                            if(progress == 4){
                                startDraw(ctx)
                                startDraw2(ctx2)
                            }
                        }
                        
                        // 微信头像
                        var imgWx = new  Image();
                        var imgWxUrl = './images/wx.jpg';
                        imgWx.src = imgWxUrl;
                        imgWx.onload = function(){
                            progress += 1;
                            if(progress == 4){
                                startDraw(ctx)
                                startDraw2(ctx2)
                            }
                        }
                        //待图片加载完后，将其显示在canvas上
                        function startDraw(ctx) {
                            
                            
                            ctx.fillStyle="#ffffff";
                            ctx.fillRect(0,0,This.W*2,This.H*2);

                            ctx.drawImage(imgObj, 0, 0,This.W * 2, This.H * 2 - This.H * 2 * 0.1);//this即是imgObj,保持图片的原始大小：470*480
                            ctx.drawImage(imgSlogan, 0, 0);  
                            ctx.drawImage(imgEwm, This.W*1.62, This.H * 2* 0.76,This.W * 2 * 0.150,This.H * 2 * 0.119);                              

                            ctx.font = parseInt(This.Font)+"px 微软雅黑";
                            ctx.fillStyle = "#6e6e6e";
                            ctx.fillText(This.selectPlaceData ? This.selectPlaceData.name : '欢迎你', This.W *0.04, This.H * 2 * 0.97);

                            ctx.fillStyle = "#ffffff";
                            ctx.font = parseInt(This.Font)*0.6+"px 微软雅黑";
                            ctx.fillText("小妮子", This.W *0.4, This.H * 2 * 0.8);
                            ctx.fillText("环游世界旅行照", This.W *0.4, This.H * 2 * 0.85);

                            var headW = parseInt($('.head').width());
                            var headH = parseInt($('.head').height());
                            var headTop = parseInt($('.head').offset().top);
                            ctx.save();
                            if(isPhonex){
                                ctx.arc(headW*1.2, headTop * 1.32, headW, 0, 2 * Math.PI);
                                ctx.clip();
                                ctx.drawImage(imgWx, headW*1.2 - headW, headTop * 1.32 - headW, headW*2, headW*2);
                            }else{
                                ctx.arc(headW*1.2, headTop * 1.54, headW, 0, 2 * Math.PI);
                                ctx.clip();
                                ctx.drawImage(imgWx, headW*1.2 - headW, headTop * 1.54 - headW, headW*2, headW*2);
                            }
                            
                            // ctx.fillStyle = '#ffffff';                            
                            // ctx.fill();
                            // 从画布上裁剪出这个圆形
                           
                            ctx.restore();

                            ctx.arc(headW*1.2, headTop * 1.54, headW, 0, 2 * Math.PI);
                            ctx.lineWidth = 4;   
                            ctx.strokeStyle  = "#ffffff";                           
                            ctx.stroke();

                            // This.convertCanvasToImage(cvs);
                        }

                         //待图片加载完后，将其显示在canvas上
                         function startDraw2(ctx) {                            
                            
                            ctx.fillStyle="#ffffff";
                            ctx.fillRect(0,0,This.W2,This.H2);

                            ctx.drawImage(imgObj, 0, 0,This.W2, This.H2 - This.H2* 0.1);//this即是imgObj,保持图片的原始大小：470*480
                            ctx.drawImage(imgSlogan, 0, 0);  
                            ctx.drawImage(imgEwm, This.W2*1.6, This.H2 * 0.75,This.W2 * 0.172,This.H2 * 0.137);  
                            // ctx.drawImage(imgEwm, This.W*1.38, This.H * 2* 0.68,This.W * 2 * 0.250,This.H * 2 * 0.199);  
                            

                            ctx.font = parseInt(This.Font)+"px 微软雅黑";
                            ctx.fillStyle = "#6e6e6e";
                            ctx.fillText(This.selectPlaceData ? This.selectPlaceData.name : '欢迎你', This.W2 *0.04, This.H2* 0.97);

                            ctx.fillStyle = "#ffffff";
                            ctx.font = parseInt(This.Font)*0.6+"px 微软雅黑";
                            ctx.fillText("小妮子", This.W2 *0.4, This.H2 * 0.8);
                            ctx.fillText("环游世界旅行照", This.W2 *0.4, This.H2 * 0.85);

                            var headW = parseInt($('.head').width());
                            var headH = parseInt($('.head').height());
                            var headTop = parseInt($('.head').offset().top);
                            ctx.save();
                            if(isPhonex){
                                ctx.arc(headW*1.2, headTop * 1.32, headW, 0, 2 * Math.PI);
                                ctx.clip();
                                ctx.drawImage(imgWx, headW*1.2 - headW, headTop * 1.32 - headW, headW*2, headW*2);
                            }else{
                                ctx.arc(headW*1.2, headTop * 1.54, headW, 0, 2 * Math.PI);
                                ctx.clip();
                                ctx.drawImage(imgWx, headW*1.2 - headW, headTop * 1.54 - headW, headW*2, headW*2);
                            }
                           
                            ctx.restore();

                            ctx.arc(headW*1.2, headTop * 1.54, headW, 0, 2 * Math.PI);
                            ctx.lineWidth = 4;   
                            ctx.strokeStyle  = "#ffffff";                           
                            ctx.stroke();

                            This.convertCanvasToImage(cvs);
                        }
                    },
                    convertCanvasToImage:function(canvas) {
					    // console.log(canvas)
                        var image = new Image();						
                        image.src = canvas.toDataURL("image/png")
                        $('.canvas2').append(image);
                    },                  
                    //处理提示弹框函数
                    alertHandle:function(msg){
                        var This = this;
                        this.alert.status = true;
                        this.alert.txt = msg;
                        setTimeout(function(){
                            This.alert.status = false;
                            This.alert.txt = '';
                        },1500)
                    },
                    
                },
                mounted: function () {
                    var This = this;
                    this.tab1 = new mo.PageSlide({
                        target: $('#slide01 .content li'),
                        playTo: 0,
                        touchMove: false,
                        direction: 'y',
                        event:{
                            'change':function(){
                                var cur = This.tab1.curPage;
                                $('#slide01 .content').children('li').eq(cur).find('div.cont').addClass('show').removeClass('hide');
                                $('#slide01 .content').children('li').eq(cur).siblings().find('div.cont').addClass('hide').removeClass('show');
                            }
                        }
                    });
                    var Html = document.getElementsByTagName("html")[0];
                    var styleObj = window.getComputedStyle(Html,null);
                    this.Font = styleObj.fontSize;
                    this.W= $('.canvas').width();
                    this.H = $('.canvas').height();
                    this.W2 = $('.canvas2').width();
                    this.H2 = $('.canvas2').height();

                    // var music_id = document.getElementById('music_id');
                    // music_id.src="./images/5018.mp3";
                    // music_id.play();
                    // wx.ready(function () {
                    //     var music_id = document.getElementById('music_id');
                    //     music_id.src="__STATIC__/images/5018.mp3";
                    //     music_id.play();                        
                    // });

					this.drawCanvas();
                }
            })
        })
    </script>
</body>
</html>
