
// .mint-msgbox-wrapper .mint-msgbox{
//   width: 30rem;
// }
.mint-msgbox-masker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000;
  z-index: 2000;
}
.mint-msgbox-head{
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  top: 1.5rem;
  font-weight: bold;
}
.mint-msgbox-content{
  font-size: 1.3rem;
  color: #181C28;
  text-align: center;
  line-height: 1.8rem;
}

body{
  .mint-msgbox-column{
    .mint-msgbox-wrapper{
      .mint-msgbox{
        width: 32rem;
        margin-left: -16rem;
      }
      .mint-msgbox-head{
        display: none;
      }
      .mint-msgbox-content{
        border-bottom: 0;
        .mint-msgbox-message{
          padding: 1.6rem !important;
          font-size: 1.3rem;
          color: #7F8593;
          line-height: 1.8rem;
        }
      }
      .mint-msgbox-btns{
        flex-direction: column;
        height: auto;
        .mint-msgbox-btn{
          border-right: 0;
          width: 100%;
          line-height: 4.8rem;
          border-top: 0.1rem solid #EEEEF0;
        }
      }
    }
  }
}

