@charset "UTF-8";
/*--------------------功能: 重设浏览器默认样式 START--------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tt,
u, ul,
var {
  background: transparent;
  border: 0 none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

blockquote, q {
  quotes: none;
}

table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

img {
  border: 0;
  display: block;
}

select {
  white-space: nowrap;
}

caption {
  text-align: left;
}

embed {
  vertical-align: top;
}

div, ul, li, ol, dl, dd, p {
  word-wrap: break-word;
}

ul, li, ol, dl, dd {
  list-style-type: none;
}

input, textarea, select {
  font-family: inherit;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  text-align: left;
  color: #828282;
  overflow-x: hidden;
}

html, body {
  font: 10px/1.5 Microsoft YaHei,\5b8b\4f53, Arial, Verdana;
  width: 100%;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: #828282;
}

input, input[type="button"], input[type="submit"], input[type="reset"], input[type="number"] {
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*
 * SASS setting 
 */
/*
@include prefixer(border-radius,REM(20))
@include fullBg(REM(24),REM(24),'add.png');
background: url($URL+'pre.png') no-repeat;
*/
/*清除浮动*/
.clf:before, .clf:after {
  content: "";
  display: table;
}

.clf:after {
  clear: both;
}

.clf {
  *zoom: 1;
}

.shengl {
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
}

.toast {
  width: 2.66667rem;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.21333rem;
  padding: 0.4rem;
}

.toast .toast-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.26667rem;
}

.toast .toast-wrap .icon-loading {
  width: 1.33333rem;
  height: 1.33333rem;
  margin: 0 auto;
  display: inline-block;
  background-image: url("../images/loading.gif");
  background-size: 1.33333rem 1.33333rem;
  background-repeat: no-repeat;
}

.toast .toast-wrap .icon-success {
  width: 1.33333rem;
  height: 1.33333rem;
  display: inline-block;
  background-image: url("../images/success-toast.gif");
  background-size: 1.33333rem 1.33333rem;
  background-repeat: no-repeat;
}

.toast .toast-wrap .icon-fail {
  width: 1.33333rem;
  height: 1.33333rem;
  display: inline-block;
  background-image: url("../images/fail-toast.png");
  background-size: 1.33333rem 1.33333rem;
  background-repeat: no-repeat;
}

.toast .toast-wrap .toast-text {
  padding-top: 0.26667rem;
  line-height: 0.8rem;
  font-size: 0.32rem;
  color: #ffffff;
}

.easy-toast {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.13333rem 0.66667rem;
  max-width: 8rem;
  border-radius: 1.33333rem;
  color: #ffffff;
  font-size: 0.37333rem;
  z-index: 20;
}

.dialogBox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
}

.dialogBox .dialogContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.dialogBox .dialogContent .title {
  padding: 0.66667rem;
  font-size: 0.32rem;
  color: #848484;
  background: #ffffff;
  border-bottom: 1px #efefef solid;
}

.dialogBox .dialogContent a {
  height: 1.26667rem;
  background: #ffffff;
  display: block;
  line-height: 1.26667rem;
  font-size: 0.4rem;
  text-decoration: none;
}

.dialogBox .dialogContent a:first-child {
  color: #ff503f;
}

.dialogBox .dialogContent a:last-child {
  margin-top: 0.10667rem;
}

html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.wrap {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

[v-cloak] {
  display: none;
}

.f46 {
  font-size: 0.61333rem;
}

.f40 {
  font-size: 0.61333rem;
  margin-top: -0.2rem;
}

.loading {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading img {
  width: 2.58667rem;
  margin-bottom: 0.66667rem;
}

.loading .pro {
  height: 0.13333rem;
  width: 4rem;
  border-radius: 0.66667rem;
  overflow: hidden;
  position: relative;
}

.loading .pro span {
  background-image: -webkit-linear-gradient(0deg, #008cd6, #2bab91);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.loading .text {
  padding-top: 0.4rem;
  font-size: 0.4rem;
  text-align: center;
  color: #008cd6;
}

.iconDown {
  width: 0.68rem;
  position: absolute;
  left: 4.66rem;
  bottom: 0.66667rem;
}

.loginBox {
  position: absolute;
  min-height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}

.loginBox .logo {
  width: 8.66667rem;
  position: absolute;
  left: 0.66667rem;
  top: 0.6rem;
}

.loginBox .loginMain {
  background: url("../images/login_popup.png");
  background-size: 100% 100%;
  width: 7.46667rem;
  margin-top: 3.06667rem;
  margin-left: 1.26667rem;
  height: 8.70667rem;
  position: relative;
  z-index: 4;
}

.loginBox .loginMain form {
  top: 3.66667rem;
  position: relative;
  padding: 0 0.66667rem;
  z-index: 4;
}

.loginBox .loginMain form button {
  width: 4.44rem;
  height: 0.86667rem;
  margin-top: 0.33333rem;
  opacity: 0;
  margin-left: 0.86667rem;
}

.loginBox .loginMain .input-item {
  display: flex;
  height: 0.73333rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.26667rem;
}

.loginBox .loginMain .input-item input {
  display: block;
  height: 0.73333rem;
  line-height: 0.73333rem;
  width: 100%;
  border: 0;
  font-size: 0.34667rem;
  text-indent: 0.26667rem;
  border-radius: 0.13333rem;
  border: 1px #C8C9CA solid;
  background: #ffffff;
}

.loginBox .loginMain .input-item .item_left {
  flex: 1;
  margin-right: 0.26667rem;
}

.loginBox .loginMain .input-item .item_right {
  flex-basis: 2.53333rem;
}

.loginBox .loginMain .input-item .item_right img {
  width: 100%;
}

.loginBox .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.swiper-container {
  visibility: hidden;
}

.swiper-container, .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .logo {
  width: 8.66667rem;
  position: absolute;
  left: 0.66667rem;
  top: 0.6rem;
}

.swiper-slide .blue {
  color: #0081CC;
}

.swiper-slide .orange {
  color: #F8B62D;
}

.swiper-slide h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.swiper-slide h4 {
  font-size: 0.53333rem;
  font-weight: normal;
}

.swiper-slide p {
  font-size: 0.4rem;
  padding: 0.13333rem 0;
}

.swiper-slide span {
  display: inline-block;
}

.swiper-slide .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.swiper-slide.swiper-slide1 {
  text-align: center;
}

.swiper-slide.swiper-slide1 .txt1 {
  margin-top: 2.4rem;
}

.swiper-slide.swiper-slide1 .start {
  width: 5.48rem;
  margin: 0 auto;
  padding: 0.4rem 0 0.66667rem;
}

.swiper-slide.swiper-slide1 .zd {
  width: 4.10667rem;
  margin: 0 auto;
}

.swiper-slide.swiper-slide2 {
  text-align: center;
}

.swiper-slide.swiper-slide2 .txt1 {
  padding-top: 5.73333rem;
}

.swiper-slide.swiper-slide2 .txt2 {
  padding-top: 3.73333rem;
  padding-bottom: 0.4rem;
}

.swiper-slide.swiper-slide2 .txt3 {
  padding-top: 0.8rem;
}

.swiper-slide.swiper-slide3 {
  text-align: center;
}

.swiper-slide.swiper-slide3 .rili {
  width: 4.26667rem;
  padding: 4rem 0 0.66667rem;
  margin: 0 auto;
}

.swiper-slide.swiper-slide3 .rili .riliBox {
  width: 4.26667rem;
  height: 4.26667rem;
  position: relative;
  background: url("../images/1.png");
  background-size: 4.26667rem auto;
}

.swiper-slide.swiper-slide3 .rili .riliBox .icon-right {
  width: 0.66667rem;
  position: absolute;
  right: -2rem;
  top: 1.6rem;
}

.swiper-slide.swiper-slide3 .rili .riliBox .hand {
  position: absolute;
  width: 1.33333rem;
  z-index: 5;
  left: 42%;
  bottom: 0;
}

.swiper-slide.swiper-slide3 .rili .riliBox .hand img {
  width: 100%;
}

.swiper-slide.swiper-slide3 .rili .riliBox.riliBox1 {
  background: url("../images/1.png");
  background-size: 4.26667rem auto;
}

.swiper-slide.swiper-slide3 .rili .riliBox.riliBox2 {
  background: url("../images/2.png");
  background-size: 4.26667rem auto;
}

.swiper-slide.swiper-slide3 .rili .riliBox.riliBox3 {
  background: url("../images/3.png");
  background-size: 4.26667rem auto;
}

.swiper-slide.swiper-slide3 .rili .riliBox.riliBox4 {
  background: url("../images/4.png");
  background-size: 4.26667rem auto;
}

.swiper-slide.swiper-slide3 .rili img {
  width: 100%;
}

.swiper-slide.swiper-slide4 {
  text-align: center;
}

.swiper-slide.swiper-slide4 .logo {
  top: 0.26667rem;
}

.swiper-slide.swiper-slide4 .txt1 {
  padding-top: 1.73333rem;
}

.swiper-slide.swiper-slide4 p {
  padding: 0;
}

.swiper-slide.swiper-slide4 .tab1 {
  padding: 0.26667rem 0;
  margin: 0 auto;
  width: 2.02667rem;
}

.swiper-slide.swiper-slide4 .hand {
  position: absolute;
  width: 10rem;
  z-index: 5;
  top: 2rem;
  left: -0.5rem;
}

.swiper-slide.swiper-slide4 .hand img {
  width: 100%;
}

.swiper-slide.swiper-slide4 .data {
  width: 2.53333rem;
  position: absolute;
  height: 3.85333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.swiper-slide4 .data img {
  width: 2.14667rem;
}

.swiper-slide.swiper-slide4 .data.data1 {
  left: 0.93333rem;
  top: 5.06667rem;
}

.swiper-slide.swiper-slide4 .data.data2 {
  left: 3.73333rem;
}

.swiper-slide.swiper-slide4 .data.data3 {
  right: 0.93333rem;
  top: 5.06667rem;
}

.swiper-slide.swiper-slide4 .tab2 {
  position: absolute;
  top: 9.2rem;
  left: 3.98667rem;
  width: 2.02667rem;
}

.swiper-slide.swiper-slide4 .data4 {
  width: 3.21333rem;
  position: absolute;
  left: 1.46667rem;
  top: 10rem;
  z-index: 2;
}

.swiper-slide.swiper-slide4 .data5 {
  width: 3.21333rem;
  position: absolute;
  right: 1.46667rem;
  top: 10rem;
  z-index: 2;
}

.swiper-slide.swiper-slide4 .footer {
  bottom: -3rem;
  width: 150%;
  left: -30%;
}

.swiper-slide.swiper-slide5 .title {
  width: 7.69333rem;
  margin: 0 auto;
  padding-top: 2.66667rem;
}

.swiper-slide.swiper-slide5 .gift {
  padding-top: 0.4rem;
  width: 8.44rem;
  margin-left: 0.78rem;
}

.swiper-slide.swiper-slide5 .light {
  width: 8.62667rem;
  margin: -4.66667rem auto;
}

.swiper-slide.swiper-slide5 .btn {
  position: absolute;
  width: 4.04rem;
  height: 0.90667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.swiper-slide5 .btn img {
  width: 4.04rem;
}

.swiper-slide.swiper-slide5 .btn.btn1 {
  top: 11.33333rem;
  left: 1.86667rem;
  background: url("../images/btn1_bg.png");
  background-size: 100% 100%;
}

.swiper-slide.swiper-slide5 .btn.btn2 {
  top: 12.53333rem;
  left: 2.8rem;
  background: url("../images/btn2_bg.png");
  background-size: 100% 100%;
}

.swiper-slide.swiper-slide5 .btn.btn3 {
  top: 13.73333rem;
  left: 3.73333rem;
  background: url("../images/btn3_bg.png");
  background-size: 100% 100%;
}

.swiper-slide.swiper-slide6 .title {
  width: 6.24rem;
  margin: 0 auto;
  padding-top: 2.66667rem;
}

.swiper-slide.swiper-slide6 .gift {
  padding-top: 0.4rem;
  width: 10rem;
}

.swiper-slide.swiper-slide6 .tip {
  position: absolute;
  width: 2.41333rem;
  left: 3.79333rem;
  bottom: 2rem;
  z-index: 2;
}

.swiper-slide.swiper-slide6 .hand {
  position: absolute;
  width: 1.33333rem;
  z-index: 5;
  top: 6.93333rem;
  left: 4.46667rem;
}

.swiper-slide.swiper-slide6 .hand img {
  width: 100%;
}

.swiper-slide.swiper-slide6 .btnBox {
  height: 1.06667rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../images/bottom.png");
  background-size: 100% 100%;
  display: flex;
}

.swiper-slide.swiper-slide6 .btnBox a {
  flex: 1;
  line-height: 1.06667rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.33333rem;
}

.swiper-slide.swiper-slide7 {
  text-align: center;
}

.swiper-slide.swiper-slide7 .txt1 {
  padding-top: 4rem;
}

.swiper-slide.swiper-slide7 .txt2 {
  padding-top: 0.8rem;
}

.mask-cover {
  background: rgba(0, 0, 0, 0.8);
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.giftBox {
  width: 7.46667rem;
  position: fixed;
  left: 1.26667rem;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
}

.giftBox .contain {
  position: relative;
  width: 7.46667rem;
  height: 8.72rem;
}

.giftBox .contain .close {
  width: 0.81333rem;
  height: 0.81333rem;
  position: absolute;
  right: 0.4rem;
  top: 1.46667rem;
}

.giftBox .contain .btn {
  width: 4.53333rem;
  height: 0.86667rem;
  position: absolute;
  left: 1.49333rem;
  bottom: 0.88rem;
}

.giftBox img {
  width: 100%;
}

.shareBox {
  width: 9.30667rem;
  position: fixed;
  left: 0.34667rem;
  top: 0.26667rem;
  z-index: 10;
}

.shareBox .contain {
  position: relative;
  width: 9.30667rem;
  height: 10.30667rem;
}

.shareBox .contain .btn {
  width: 4.53333rem;
  height: 0.86667rem;
  position: absolute;
  left: 2.4rem;
  bottom: 0;
}

.shareBox img {
  width: 100%;
}

.ruleBox, .guideBox {
  position: absolute;
  min-height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.ruleBox img, .guideBox img {
  width: 100%;
}

.ruleBox .know, .guideBox .know {
  position: absolute;
  top: 14.8rem;
  left: 2.76667rem;
  width: 4.46667rem;
  z-index: 11;
}

.ruleBox .footer, .guideBox .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.guideBox .know {
  top: 20.26667rem;
}

.dataBox {
  position: fixed;
  width: 6.84rem;
  height: 10.18667rem;
  left: 1.58rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/data_big.png");
  background-size: 100% 100%;
  z-index: 10;
}

.dataBox .data-txt1 {
  position: absolute;
  font-size: 0.32rem;
  width: 4rem;
  text-align: center;
  left: 0;
  top: 3.2rem;
  font-weight: bold;
}

.dataBox .data-txt2 {
  position: absolute;
  font-size: 0.32rem;
  width: 4.10667rem;
  text-align: center;
  right: 0.2rem;
  top: 0.93333rem;
  font-weight: bold;
}

.dataBox .data-pro1 {
  width: 0.66667rem;
  height: 1.86667rem;
  position: absolute;
  left: 1.62667rem;
  bottom: 4.44rem;
  display: block;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.dataBox .data-pro1 b {
  height: 0%;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: #0081cc;
}

.dataBox .data-pro2 {
  width: 0.66667rem;
  height: 4.06667rem;
  position: absolute;
  right: 1.89333rem;
  bottom: 4.44rem;
  display: block;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  overflow: hidden;
}

.dataBox .data-pro2 b {
  height: 0%;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-image: -webkit-linear-gradient(90deg, #008cd6, #2bab91);
}

.dataBox .data-title {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1rem;
  font-size: 0.8rem;
  color: #0081cc;
}

.Upward {
  -webkit-animation: Upward 0.5s 0s both;
  animation: Upward 0.5s 0s both;
}

.Upward2 {
  -webkit-animation: Upward 0.5s 0s both;
  animation: Upward 0.5s 0s both;
}

@-webkit-keyframes Upward {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes Upward {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.pt-page-moveIconUp {
  -webkit-animation: pt-page-moveIconUp 1s ease both infinite;
  -moz-animation: pt-page-moveIconUp 1s ease both infinite;
  animation: pt-page-moveIconUp 1s ease both infinite;
}

@-webkit-keyframes pt-page-moveIconUp {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes pt-page-moveIconUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.swiper-slide.swiper-slide3 .rili .riliBox.end {
  background-position: 0px -34.13333rem !important;
}

.action {
  -webkit-animation: action 1s steps(9) both;
  animation: action 1s steps(9) both;
}

@-webkit-keyframes action {
  0% {
    background-position: 0 0rem;
  }
  100% {
    background-position: 0 -38.4rem;
  }
}

@keyframes action {
  0% {
    background-position: 0 0rem;
  }
  100% {
    background-position: 0 -38.4rem;
  }
}

.animated.infinite2 {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.animated.infinite3 {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.animated.infinite4 {
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
}

.animated.infinite5 {
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

.animated.infinite6 {
  -webkit-animation-iteration-count: 6;
  animation-iteration-count: 6;
}

.animated.infinite7 {
  -webkit-animation-iteration-count: 7;
  animation-iteration-count: 7;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    -ms-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse2 {
  -webkit-animation-name: pulse2;
  animation-name: pulse2;
  animation-duration: 1s !important;
  -webkit-animation-duration: 1s !important;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
