
@charset "utf-8";
@import './base';
@import './toast';
html,body{
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.wrap{
    width: 100%;
    height: 100%;
    visibility: hidden;
}
[v-cloak]{
    display: none;
}

// loading
.loading{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: REM(194);
        margin-bottom: REM(50);
    }
    .pro{
        height: REM(10);
        width: REM(300);
        border-radius: REM(50);
        overflow: hidden;
        position: relative;
        span{
            background-image: -webkit-linear-gradient(0deg, #008cd6, #2bab91);
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    .text{
        padding-top: REM(30);
        font-size: REM(30);
        text-align: center;
        color: #008cd6;
    }
}
.iconDown{
    width: REM(51);
    position: absolute;
    left: LEFT(51);
    bottom: REM(50);
}
.loginBox{
    position: absolute;
    min-height: 100%;
    background:#ffffff;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    .logo{
        width: REM(650);
        position: absolute;
        left: LEFT(650);
        top: REM(45);
    }
    .loginMain{
        background: url($URL+'login_popup.png');
        background-size: 100% 100%;
        width: REM(560);
        margin-top: REM(230);
        margin-left: LEFT(560);
        height: REM(653);
        position: relative;
        z-index: 4;
        form{
            top: REM(275);
            position: relative;
            padding:0 REM(50);
            z-index: 4;
            button{
                width: REM(333);
                height: REM(65);
                margin-top: REM(25);
                opacity: 0;
                margin-left: REM(65);
            }
        }
        .input-item{
            display: flex;
            height: REM(55);
            align-items: center;
            justify-content: space-between;
            margin-bottom: REM(20);
            
            input{
                display: block;
                height: REM(55);
                line-height: REM(55);
                width: 100%;
                border:0;
                font-size: REM(26);
                text-indent: REM(20);
                border-radius: REM(10);
                border: 1px #C8C9CA solid;
                background: #ffffff;
                ;
            }
            .item_left{
                flex: 1;
                margin-right: REM(20);
            }
            .item_right{
                flex-basis: REM(190);
                img{
                    width: 100%;
                }
            }
        }
    }
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
.swiper-container{
    visibility: hidden;
    
}
.swiper-container,.swiper-slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide{
    position: relative;
    .logo{
        width: REM(650);
        position: absolute;
        left: LEFT(650);
        top: REM(45);
    }
    .blue{
        color: #0081CC;
    }
    .orange{
        color: #F8B62D;
    }
    h3{
        font-size: REM(90);
        font-weight: normal;
    }
    h4{
        font-size: REM(40);
        font-weight: normal;
    }
    p{
        font-size: REM(30);
        padding: REM(10) 0;
    }
    span{
        display: inline-block;
    }
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    &.swiper-slide1{
        text-align: center;
        .txt1{
            margin-top: REM(180);
        }
        .start{
            width: REM(411);
            margin: 0 auto;
            padding: REM(30) 0 REM(50);
        }
    }
    &.swiper-slide2{
        text-align: center;
        .txt1{
            padding-top: REM(430);
        }
        .txt2{
            padding-top: REM(300);
        }
        .txt3{
            padding-top: REM(60);
        }
        
    }
    &.swiper-slide3{
        text-align: center;
        .rili{
            width: REM(320);
            padding: REM(300) 0 REM(50);
            margin: 0 auto;
            .riliBox{
                width: REM(320);
                height: REM(320);
                position: relative;
                background: url($URL+'1.png');
                background-size: REM(320) auto;
                .icon-right{
                    width: REM(50);
                    position: absolute;
                    right: REM(-150);
                    top: REM(120);
                }
                &.riliBox1{
                    background: url($URL+'1.png');
                    background-size: REM(320) auto;
                }
                &.riliBox2{
                    background: url($URL+'2.png');
                    background-size: REM(320) auto;
                }
                &.riliBox3{
                    background: url($URL+'3.png');
                    background-size: REM(320) auto;
                }
                &.riliBox4{
                    background: url($URL+'4.png');
                    background-size: REM(320) auto;
                }
            }
            
            img{
                width: 100%;
            }
        }
    }
    &.swiper-slide4{
        text-align: center;
        .logo{
            top: REM(20);
        }
        .txt1{
            padding-top: REM(130);
        }
        p{
            padding: 0;
        }
        .tab1{
            padding: REM(20) 0;
            margin: 0 auto;
            width: REM(152);
        }
        .data{
            width: REM(190);
            position: absolute;
            &.data1{
                left: REM(70);
                top: REM(380);
            }
            &.data2{
                left: LEFT(190);
            }
            &.data3{
                right: REM(70);
                top: REM(380);
            }
        }
        .tab2{
            position: absolute;
            top: REM(610);
            left: LEFT(152);
            width: REM(152);
        }
        .data4{
            width: REM(241);
            position: absolute;
            left: REM(110);
            top: REM(700);
            z-index: 2;
        }
        .data5{
            width: REM(241);
            position: absolute;
            right: REM(110);
            top: REM(700);
            z-index: 2;
        }
        .footer{
            bottom: -3rem;
            width: 150%;
            left: -30%;
        }
    }
    &.swiper-slide5{
        .title{
            width: REM(577);
            margin: 0 auto;
            padding-top: REM(200);
        }
        .gift{
            padding-top: REM(30);
            width:REM(633);
            margin-left: LEFT(633);
        }
        .light{
            width: REM(647);
            margin: REM(-350) auto;
        }
        .btn{
            position: absolute;
            width: REM(303);
            &.btn1{
                top: REM(850);
                left: REM(140);
            }
            &.btn2{
                top: REM(940);
                left: REM(210);
            }
            &.btn3{
                top: REM(1030);
                left: REM(280);
            }
        }
    }
    &.swiper-slide6{
        .title{
            width: REM(468);
            margin: 0 auto;
            padding-top: REM(200);
        }
        .gift{
            padding-top: REM(30);
            width:REM(750);
        }
        .tip{
            position: absolute;
            width:REM(181);
            left: LEFT(181);
            bottom: REM(150);
            z-index: 2;
        }
        .btnBox{
            height: REM(80);
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            background: url($URL+'bottom.png');
            background-size: 100% 100%;
            display: flex;
            a{
                flex:1;
                line-height: REM(80);
                text-align: center;
                color: #ffffff;
                font-size: REM(25);
            }
        }
    }
    &.swiper-slide7{
        text-align: center;
        .txt1{
            padding-top: REM(300);
        }
        .txt2{
            padding-top: REM(60);
        }
    }
}

.mask-cover{
    background: rgba(0,0,0,0.8);
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.giftBox{
    width: REM(560);
    position: fixed;
    left: LEFT(560);
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    .contain{
        position: relative;
        width: REM(560);
        height: REM(654);
        .close{
            width: REM(61);
            height: REM(61);
            position: absolute;
            right: REM(30);
            top: REM(110);
        }
        .btn{
            width: REM(340);
            height: REM(65);
            position: absolute;
            left: REM(112);
            bottom: REM(66);
        }
    }
    img{
        width: 100%;
    }
}
.shareBox{
    width: REM(698);
    position: fixed;
    left: LEFT(698);
    top: REM(20);
    z-index: 10;
    .contain{
        position: relative;
        width: REM(698);
        height: REM(773);
        .btn{
            width: REM(340);
            height: REM(65);
            position: absolute;
            left: REM(180);
            bottom: 0;
        }
    }
    img{
        width: 100%;
    }
}
.ruleBox,.guideBox{
    position: absolute;
    min-height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    img{
        width: 100%;
    }
    .know{
        position: absolute;
        bottom:REM(140);
        left: LEFT(335);
        width: REM(335);
    }
}
.guideBox{
    .know{
        bottom: REM(80);
    }
}
.dataBox{
    position: fixed;
    width: REM(513);
    height: REM(764);
    left: LEFT(513);
    top: 50%;
    transform: translateY(-50%);
    background: url($URL+'data_big.png') #ffffff;
    background-size: 100% 100%;
    z-index: 10;
    .data-txt1{
        position: absolute;
        font-size: REM(24);
        width: REM(300);
        text-align: center;
        left: 0;
        top: REM(240);
        font-weight: bold;
    }
    .data-txt2{
        position: absolute;
        font-size: REM(24);
        width: REM(308);
        text-align: center;
        right: REM(15);
        top: REM(70);
        font-weight: bold;
    }
    .data-pro1{
        width: REM(50);
        height: REM(140);
        
        position: absolute;
        left: REM(122);
        bottom: REM(333);
        display: block;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        overflow: hidden;
        b{
            height: 0%;
            position: absolute;
            width: 100%;
            bottom: 0;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            background: #0081cc;
        }
    }
    .data-pro2{
        width: REM(50);
        height: REM(305);
        position: absolute;
        right: REM(142);
        bottom: REM(333);
        display: block;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        overflow: hidden;
        b{
            height: 0%;
            position: absolute;
            width: 100%;
            bottom: 0;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            background-image: -webkit-linear-gradient(90deg, #008cd6, #2bab91);
        }
    }
    .data-title{
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: REM(75);
        font-size: REM(60);
        color: #0081cc;
    }
}

.Upward{
    -webkit-animation:Upward 0.5s 0s both;
    animation:Upward 0.5s 0s both;
}
.Upward2{
    -webkit-animation:Upward 0.5s 0s both;
    animation:Upward 0.5s 0s both;
}
@-webkit-keyframes Upward {
       0% {
            height: 0%;
       }
       100% {
            height: 100%;
       }
}
@keyframes Upward {
    0% {
        height: 0%;
   }
   100% {
        height: 100%;
   }
}

.pt-page-moveIconUp {
    @include prefixer(animation,pt-page-moveIconUp 1s ease both infinite);
}
  
@-webkit-keyframes pt-page-moveIconUp {
0% { -webkit-transform: translateY(-100%); opacity:0;}
50% { -webkit-transform: translateY(0%); opacity:1;}
100% { -webkit-transform: translateY(100%); opacity:0;}
}

@keyframes pt-page-moveIconUp {
0% { transform: translateY(-100%); opacity:0;}
50% { transform: translateY(0%); opacity:1;}
100% { transform: translateY(100%); opacity:0;}
}

.swiper-slide.swiper-slide3 .rili .riliBox{
    &.end{
        background-position: 0px REM(-2560) !important;
    }
}
// 16-17
.action {
    -webkit-animation: action 1s steps(9) both; 
    animation: action 1s steps(9) both; 
    
}
@-webkit-keyframes action {
    0% { background-position: 0 0rem; }
    100% { background-position: 0 REM(-2880); }
}
@keyframes action {
    0% { background-position: 0 0rem; }
    100% { background-position: 0 REM(-2880); }
}