
@charset "utf-8";
@import 'loading_22.scss';
*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
@function REM($n){
    @return $n/108*1rem;
}

@function REMTWO($n){
    @return REM(((1080-$n)/2));
}
.shengl{word-break:keep-all;/* 不换行 */white-space:nowrap;/* 不换行 */overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */text-overflow:ellipsis;}

$URL:'../images/';
.wrap{
    max-width:750px;
    position: relative;
    margin: 0 auto;    
    height: 100%;
    overflow: hidden;
    .page-contain{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        flex-wrap: nowrap;
    }
    .contain{
        flex: 1;
        overflow: auto;
    }
    .navTab{        
        // flex-basis: REM(120);
        box-shadow: 0 2px 5px #ccc; 
        background: #f5f5f5;
        flex-basis: REM(150);
    }
    .indexPage{     
        .ewm{
            width: REM(640);
            height: REM(640);
            margin: 0 auto;
            display: block;
            padding-top: REM(60);   
        }
        .tip{
            text-align: center;
            padding: REM(20) 0 REM(40);
            font-size: REM(40);
        }
        .selectBox{
            width: REM(700);
            height: REM(100);
            border: 1px #eee solid;
            border-radius: REM(4);
            margin: 0 auto;
            display:flex;
            align-items: center;
            span{
                flex-grow: 1;
                padding: 0 REM(20);
                font-size: REM(45);
            }
            b{
                display: block;
                width: 0;
                height: 0;
                border: REM(20) solid;
                border-color: #ccc rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
                margin-right: REM(20);
                position: relative;
                top: 3px;
            }
        }
        .blank{
            height: REM(40);
        }
        a{
            margin: REM(60) auto 0;
            width: REM(700);
            height: REM(100);
            border-radius: REM(10);
            display: block;
            font-size: REM(40);
            text-align: center;
            line-height: REM(100);
            color: #ffffff;
            &.creatBtn{
                background: #ff503f;
            }
            &.addHomeTown{
                background: #3385ff;
            }
        }
        .box2{
            .red{
                text-align: center;
                font-size: REM(30);
                padding: REM(20) 0;
                color: #ff503f;
            }
            .yqm{
                font-size: REM(50);
                text-align: center;
            }
        }
    }
}

// 老乡
.townsman{
    ul{
        padding: 0 REM(50);
    }
    li{
        display: flex;
        align-items: center;
        padding: REM(20) 0;
        border-bottom: 1px #e7e7eb solid;
        .photo{
            flex-basis: REM(130);
            img{
                width: REM(100);
                height: REM(100);
                border-radius: 100%;
            }
        }
        .wx-info{
            flex-grow: 1;
            p{
                font-size: REM(30);
                &:last-child{
                    color: #acacac;
                }
            }
        }
        .money{
            flex-basis: REM(200);
            font-size: REM(50);
            color: #44b549;
        }
    }
}

.put_forward{
    form{
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            font-size: REM(40);
            &.tip{
                color: #ff503f;
            }
            
        }
        .input-box{
            height: REM(100);
            border: 1px #e7e7eb solid;
            border-radius: REM(10);
            margin: REM(50) 0;
            input{
                width:100%;
                height: REM(60);
                margin-top: REM(20);
                border: none;
                text-indent: REM(30);
            }
        }
        a{
            width: 100%;
            height: REM(100);
            background: #44b549;
            color: #ffffff;
            text-align: center;
            line-height: REM(100);
            border-radius: REM(10);
            margin-top: REM(50);
        }
    }
}




.cover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgBox{
    img{
        max-width: REM(800);
    }
}
.townCover{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,0.8);
    display: none;
    .townBox{
        height: 100%;
        width: 100%;
        background: #ffffff;
        overflow: auto;
        .sortList{
            .title{
                padding: 0 REM(50);
                font-size: REM(60);
                background: #f5f5f5;
            }
        }
        ul{
            padding: 0 REM(50);
            li{
                height: REM(100);
                display: flex;
                border-bottom: 1px #f5f5f5 solid;
                align-items: center;
                position: relative;
                &.active{
                    b{
                        border: 1px #ff503f solid;
                    }
                    span{
                        color: #ff523f;
                    }
                }
                b{
                    width: REM(40);
                    height: REM(40);
                    border-radius: 100%;
                    border: 1px #ccc solid;
                    margin-right: REM(40);
                }
                span{
                    font-size: REM(40)
                }
                .icon{
                    width: REM(40);
                    height: REM(40);
                    background: url($URL+'selected.png');
                    background-size:100% 100%;
                    position: absolute;
                    right: REM(100);
                    display: none;
                }
                &.active{
                    .icon{
                        display: block;
                    }
                }
            }
        }
    }
    .letter{
        width: REM(60);
        height: 95%;
        position: fixed;
        z-index: 11;
        right: 0;
        top: 2.5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        a{
            flex-grow: 1;
            font-size: REM(40);
            color: #000;
        }
    }
}

.tipCover{
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
    .tipBox{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            padding: REM(20) REM(50);
            max-width: REM(600);
            background: rgba(255,255,255,1);
            color: #000000;
            font-size: REM(38);
            border-radius: REM(50);
        }
    }
}
.dialogBox{
    max-width:REM(900);
    min-width: REM(500);    
    background: #ffffff;
    border-radius: REM(10);
    overflow: hidden;
    .title{
        height: REM(100);
        border-bottom: 1px #f5f5f5 solid;
        text-align: center;
        font-size: REM(50);
        line-height: REM(100);
    }
    .dialogCon{
        padding: REM(40);
        border-bottom: 1px #f5f5f5 solid;
        p{
            font-size: REM(40);
            text-align: center;
        }
    }
    .dialogFooter{
        width: 100%;
        height: REM(100);
        display: flex;
        a{
            flex-grow: 1;
            line-height: REM(100);
            font-size: REM(45);
            color: #000;
            text-align: center;
            &:nth-child(2){
                color: #3385ff;
            }
        }
    }
}