<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script type='text/javascript' src='js/flexible.js' charset='utf-8'></script> -->
    <link rel="stylesheet" href="css/sm.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="page" id="page">
        <div class="content">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">车牌号</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入车牌号" v-model="car_num">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Date -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">申请通行日期</div>
                                <div class="item-input">
                                    <!-- <input type="date" placeholder="Birth day"  v-model="time"> -->
                                    <p class="p_input"><input type="text" v-model="pass_time" placeholder="请选择日期" id="pass_time"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">姓名</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入姓名" v-model="name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">手机</div>
                                <div class="item-input">
                                    <input type="number" placeholder="请输入手机号" v-model="mobile">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">驾驶证号</div>
                                <div class="item-input">
                                    <input type="text" placeholder="请输入驾驶证号" v-model="driving_num">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">车辆类型</div>
                                <div class="item-input">
                                    <!-- <input type="text" placeholder="请选择车辆类型"> -->
                                    <input type="text" id='picker_car' placeholder="请选择车辆类型" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">是否危险品车辆</div>
                                <div class="item-input">
                                    <input type="text" id="picker_danger" placeholder="请选择是否危险品车辆">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">行驶证有效期</div>
                                <div class="item-input">
                                    <!-- <input type="date" placeholder="Birth day" v-model="travel_time"> -->
                                    <p class="p_input"><input type="text" placeholder="请选择日期" id="travel_time"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">驾驶证有效期</div>
                                <div class="item-input">
                                    <!-- <input type="date" placeholder="Birth day" v-modle="drive_time"> -->
                                    <p class="p_input"><input type="text"  placeholder="请选择日期" id="drive_time"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">保单有效期</div>
                                <div class="item-input">
                                    <!-- <input type="date" placeholder="Birth day" v-model="policy_time"> -->
                                    <p class="p_input"><input type="text" placeholder="请选择日期" id="policy_time"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <p class="btnBox">
                <a href="#" class="button button-big" @click="submitHandle">确认，下一步 </a>
            </p>
        </div>
    </div>
    <script type='text/javascript' src='js/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='js/vue.min.js' charset='utf-8'></script>
    <script>
        new Vue({
            el: '#page',
            data: {
                car_num: '',        //车牌号码
                pass_time: '',      //通行时间
                name:'',            //姓名
                mobile:'',          //手机号码
                driving_num:'',     //驾驶证号
                car_type:'',        //车辆类型
                is_danger:'',       //是否危险品车辆
                travel_time:'',
                drive_time:'',
                policy_time:'',
                
            },
            methods: {
                submitHandle:function(){
                    var This = this;
                    if(!this.car_num){
                        $.toast("请输入车牌号码");
                        return;
                    }
                    if(!this.pass_time){
                        $.toast("请选择通行日期");
                        return;
                    }
                    if(!this.name){
                        $.toast("请输入姓名");
                        return;
                    }
                    if(!this.mobile){
                        $.toast("请输入手机号");
                        return;
                    }
                    if(!this.isPhone(this.mobile)){
                        $.toast("手机号码不正确");
                        return;
                    }
                    if(!this.driving_num){
                        $.toast("请输入驾驶证号");
                        return;
                    }
                    if(!this.car_type){
                        $.toast("请选择车辆类型");
                        return;
                    }
                    console.log(this.is_danger)
                    if(this.is_danger != 0 && this.is_danger != 1){
                        $.toast("请选择是否是危险车辆");
                        return;
                    }
                    if(!this.travel_time){
                        $.toast("请选择行驶证有效期");
                        return;
                    }
                    if(!this.drive_time){
                        $.toast("请选择驾驶证有效期");
                        return;
                    }
                    if(!this.policy_time){
                        $.toast("请选择保单有效期");
                        return;
                    }
                    sessionStorage.setItem("info", JSON.stringify({
                        car_num:this.car_num,
                        pass_time:this.pass_time,
                        id:this.id,         //区域id
                        name:'',            //姓名
                        mobile:'',          //手机号码
                        driving_num:'',     //驾驶证号
                        car_type:'',        //车辆类型
                        is_danger:'',       //是否危险品车辆
                        travel_time:'',
                        drive_time:'',
                        policy_time:'',
                    })); 

                    window.location.href="./step2.html";
                },
                isPhone : function(str) {  //判断是否是正确的手机
                    if(typeof str === 'number'){
                        str = str.toString();
                    }
                    return /^0?1[3|4|5|7|8][0-9]\d{8}$/.test(str);
                },
                init:function() {
                    var This = this;
                    var info = JSON.parse(sessionStorage.getItem('info'));
                    this.car_num = info.car_num;
                    this.pass_time = info.pass_time;

                    // 车辆类型选择
                    $("#picker_car").picker({
                        toolbarTemplate: '<header class="bar bar-nav">\
                        <button class="button button-link pull-right close-picker">确定</button>\
                        <h1 class="title">车辆类型</h1>\
                        </header>',
                        cols: [
                            {
                            textAlign: 'center',
                            values: ['小型车（蓝牌）', '大型车（黄牌）', '挂车','新能源大型车51','新能源大型车52']
                            }
                        ],
                        onClose:function(res){
                            This.car_type = res.value[0]
                        }
                    });
                    // 是否危险品车辆
                    $('#picker_danger').picker({
                        toolbarTemplate: '<header class="bar bar-nav">\
                        <button class="button button-link pull-right close-picker">确定</button>\
                        <h1 class="title">是否危险品车辆</h1>\
                        </header>',
                        cols: [
                            {
                            textAlign: 'center',
                            values: ['是', '否']
                            }
                        ],
                        onClose:function(res){
                            This.is_danger = res.value[0] == '是' ? 1 : 0;
                        }
                    });
                    // 通行日期                    
                    $("#pass_time").calendar({
                        dateFormat:'yyyy-mm-dd',
                        onChange:function(p, values, displayValues){
                            This.pass_time = displayValues;
                        }
                    });
                    // 行驶证有效期
                    $("#travel_time").calendar({
                        dateFormat:'yyyy-mm-dd',
                        onChange:function(p, values, displayValues){
                            This.travel_time = displayValues;
                        }
                    });
                    //驾驶证有效期
                    $("#drive_time").calendar({
                        dateFormat:'yyyy-mm-dd',
                        onChange:function(p, values, displayValues){
                            This.drive_time = displayValues;
                        }
                    });
                    // 保单有效期
                    $("#policy_time").calendar({
                        dateFormat:'yyyy-mm-dd',
                        onChange:function(p, values, displayValues){
                            This.policy_time = displayValues;
                        }
                    });                    
                }
            },
            mounted:function() {
                this.init();
            },
        })
    </script>
    <!-- <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script> -->
</body>

</html>